/*.navbar-custom { 
    background-color: #29b6f6; 
    position: fixed;
    top: 0;
    width: 100%; 
}*/

/*.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
 }*/


 
